GOOGLE_SHEET_ID="你的_GOOGLE_SHEET_ID"
GOOGLE_CREDENTIALS_PATH="credentials.json"

# MongoDB Atlas 連線字串
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=advantech_ind_sw_tool
